* { 
	margin: 0;
	padding: 0;
}

html, body { 
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	letter-spacing: -0.2pt;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


body { 
	font: normal 1.05em Times New Roman, arial, sans-serif;
	/*background: #FFFFFF;*/
	color: #000;
}

p {
	margin: 0 25px 0 25px;
	text-align: justify;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, header, hgroup, nav, section { 
	display:block;
}


#content {
	width: 1000px;
	margin: auto;
	padding-bottom: 30px;
}

h1 { 
	text-align: center;
	font: bold 200% "Roboto", arial;
	padding: 30px 0 30px 0;
}

h2 {
	font: bold 130% "Roboto", arial;
	margin: 30px 0 20px 10px;
}

h3 {
	font: 100% "Roboto", arial;
	margin: 15px 0 5px 0;
}

h4 {
	font: 80% "Roboto", arial;
	margin: 15px 0 5px 0;
	/*padding-left: 25px;*/
}

.author {
	font: 400 120% "Roboto", arial;
	padding-right: 1.5em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.affil {
	text-align: center;
	padding: 10px 0 10px 0;
	font: 400 120% "Roboto", arial;
}
.venue {
	text-align: center;
	color: #A40;
	padding: 0px 0 0px 0;
	font: 400 120% "Roboto", arial;
}

.paper {
	height: 320px;
}
.paper_pic {
	text-align: center;
	float: left;
	width: 200px;
}
.paper_content {
	float: right;
	width: 800px;
}
.bibtex {
	background-color: #FFF;
	font: 100% "Times New Roman";
	border: 2px solid #666;
	padding: 10px 10px 10px 10px;
	font-size: 80%;
}